@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato&display=swap');

.navbar,
.dropdown-menu {
    background-color: #00a7e1;
    -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
    padding: 10px;
}

.navbar-light .navbar-nav .nav-link,
.dropdown-item {
    font-size: 1rem;
    font-family: "Lato", sans serif;
    color: #ec2e6a;
    font-weight: 900;
    letter-spacing: .1rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#navbarLogo.navbar-brand a {
    font-family: "Dancing Script", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: #ec2e6a;
    letter-spacing: .1rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

}

body {
    padding-top: 100px;
}

#footer-details {
    font-family: "Lato", sans-serif;
    background-color: #ec2e6a;
    color: #00a7e1;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    font-family: "Dancing Script", sans-serif;
    font-weight: bold;
    padding: 15px;
    text-align: center;
}

/*Homepage*/

.home-container {
    background-color: #ffffff;
    color: #000000;
    height: auto;
    width: auto;
    background: url("") no-repeat center center fixed;
    background-size: cover;
}

.opaque-overlay {
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
}