/*@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Original+Surfer&family=Lato&family=Rokkitt&display=swap');

.navbar {
    background-color: #fef2f8;
    -webkit-box-shadow: 0 1rem 1rem rgba(10, 184, 223, .3);
    box-shadow: 0 1rem 1rem rgba(10, 184, 223, .3);
    padding: 5px;
    z-index: 2;
}

.dropdown-menu {
    background-color: #fffef2;
}

.dropdown-divider {
    color: #0ab8df;
}

.navbar-light .navbar-nav .nav-link,
.dropdown-item {
    font-size: 1.3rem;
    font-family: "Lato", sans serif;
    color: #ff0080;
    font-weight: 900;
    letter-spacing: .2rem;
    padding: 15px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
    ;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#navbarLogo.navbar-brand a {
    font-family: "Dancing Script", sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
    color: #ff0080;
    letter-spacing: .1rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    text-decoration: none;

}

#navbarLogo i {
    color: #ff0080;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #0ab8df;
}

body {
    padding-top: 50px;
}

#main-container.container {
    max-width: 100%;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    padding-top: 10px;
}

.flashes {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.flashes h4 {
    line-height: 1;
    padding-top: 50px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    color: #0ab8df;
    font-size: 2rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    margin: auto;

}

.flashes i {
    color: #0ab8df;
    padding: 5px;
    font-size: 2rem;
}

#footer-details {
    font-family: "Dancing Script", sans-serif;
    background-color: #ff0080;
    color: #fef2f8;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

/*Homepage*/

.home-container {
    background-color: #ffffff;
    color: #000000;
    height: 100vh;
    width: auto;
    background: url("../images/homepage_image.jpg") no-repeat center center fixed;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    background-size: cover;
}

#home {
    padding: 20px;
    font-family: "Dancing Script", sans-serif;
    font-weight: bolder;
    letter-spacing: .1rem;
    text-align: center;
    background-color: rgba(255, 254, 249, 0.5);
    /*background: rgba(236, 46, 106, 0.5);*/
    border-radius: 10px;
    position: relative;
    display: inline-block;

}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#home h2 {
    font-family: "Dancing Script", sans-serif;
    font-size: 4rem;
    font-weight: bolder;
    color: #ff0080;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
    letter-spacing: .1rem;

}

#home p {
    font-size: 2.5rem;
    letter-spacing: .1rem;
    font-family: "Lato", sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    color: #0ab8df;
}

#searchHome.form-inline .form-control,
#searchProducts.form-inline .form-control {
    width: 80%;
    height: 40px;
    text-align: left;
}

#search input,
#searchProducts input {
    font-size: 1.5rem;
    color: #ff0080;
    font-family: "Dancing Script";
}

#home button,
#home a,
#add_category.btn-large,
#edit_category.btn-large,
#add_product.btn-large,
#searchBtn {
    font-family: "Lato", sans-serif;
    font-weight: bolder;
    font-size: 1.2rem;
    color: #fafd42;
    background: #ff0080;
    letter-spacing: .1rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

/*Categories Page*/

#category-btns a:hover,
.adminBtns a:hover {
    color: #fafd42;
}

.adminBtns a.category_edit,
.adminBtns a.category_delete {
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-weight: bolder;
    font-size: 1.2rem;
    color: #15bce2;
    background: #ff0080;
    letter-spacing: .1rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    padding: 10px 20px;
    margin: 15px 10px;
    -webkit-box-shadow: 0 1rem 1rem rgba(10, 184, 223, .3);
    box-shadow: 0 1rem 1rem rgba(10, 184, 223, .3);
}

.category-header,
.profile-header,
#categoryManage,
#productManage {
    padding-top: 30px;
    text-align: center;
    font-family: "Dancing Script", sans-serif;
    font-weight: bolder;
    font-size: 4rem;
    color: #ff0080;
    letter-spacing: .2rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.form-container {
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.category-form {
    background-color: #0ab8df;
    color: #ff0080;
    text-align: center;
    margin: 50px 0;
    padding: 80px 20px;
}

#categorySubmit {
    margin: auto;
    margin-top: 30px;
}

#add_category.btn-large,
#edit_category.btn-large,
#add_product.btn-large {
    padding: 10px 30px;
    margin-left: 50px;
    margin-top: 10px;
}

#edit_category.btn-large a {
    color: #fafd42;
}

.category-input label,
.category-input input,
.category-input select,
.product-input label,
.product-input input,
.product-input select {
    font-family: "Lato", sans-serif;
    font-weight: bolder;
    font-size: 1.4rem;
    margin: auto;
    margin-bottom: 10px;
}

.category-input input,
.product-input input,
.product-input select {
    padding: 5px 50px;
}

.category-input select {
    padding: 0 180px;
}

.category-input i {
    color: #fafd42;
}

.form-control {
    display: flex;
    width: 50%;
}

#category_group option,
#category_name option {
    background-color: #ff0080;
    color: #fafd42;
    font-size: 1.2rem;
}

.card-group {
    padding: 15px;
    display: flex;
    margin: auto;
    width: 50%;
}

.category-card.card {
    background-color: #0ab8df;
    border: none;
    height: 60%;
    margin: auto;
    margin-bottom: 30px;
    width: 60%;
    padding-bottom: 30px;
}

.category-image.card-img {
    padding: 5px;
    height: 50%;
}


.category-title.card-title {
    font-family: "Lato", sans-serif;
    font-size: 1.7rem;
    text-align: center;
    letter-spacing: .2rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 2);
}

.category-title.card-title,
.category-text.card-text {
    background-color: rgba(10, 184, 223, 0.3);
    color: #ff0080;
    font-weight: 900;
}


.category-text.card-text,
.search {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: bolder;
    font-size: 1.3rem;
    letter-spacing: .2rem;
    margin-right: 10px;

}

#search button {
    color: #ff0080;
    background-color: #0ab8df;
}

#search-category {
    justify-content: center;
    margin-bottom: 10px;
}

/*Products Page*/
.products-container {
    height: 100%;
    padding-top: 80px;
}

#searchProducts.form-inline {
    padding: 20px;
    background-color: #0ab8df;
}

.product-form {
    background-color: #0ab8df;
    color: #ff0080;
    text-align: center;
    padding: 25px 0;

}

.addProduct {
    height: 100%;
    padding: 40px;
}

textarea#description.form-control {
    margin: auto;
    color: #000000;
}

.form-control {
    text-align: center;
    color: #000000;
}

select#category_name.form-control {
    padding: 0 200px;
}

#product.product-card.card {
    border: none;
}

.product-text.card-body {
    padding: 30px 20px;
    font-family: "Lato", sans-serif;
    font-size: 1.1rem;
    padding: 15px;
    color: #000000;
    font-weight: bold;
}

.product-brand.card-title {
    font-family: "Dancing Script", sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
    letter-spacing: .1rem;
    color: #15bce2;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}


.product-name.card-title {
    font-family: "Lato", sans-serif;
    font-weight: bolder;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    color: #15bce2;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.product-image.card-img {
    padding: 100px 50px;
    height: 100%;
}

strong#price,
strong#shades,
strong#buy,
strong#description,
i.fas.fa-star {
    color: #fafd42;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    padding: 15px 0;
}

.product-buy.card-text {
    margin-left: 50px;
}

.product-buy a {
    color: #fef2f8;
}

#product-info a#review,
#product-info a#product-reviews,
#product-info a#edit_product,
#product-info a#delete_product {
    font-family: "Lato", sans-serif;
    font-weight: bolder;
    font-size: 1.2rem;
    color: #fafd42;
    background: #15bce2;
    letter-spacing: .1rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    padding: 5px 10px;
    margin-top: 10px;
    margin-right: 10px;
}

#buttonGrid.btn-grid {
    text-align: right;
    margin-right: 20px;
}

/*Register Page*/
.register-container,
.profile-container {
    height: 100vh;
    padding-top: 80px;
}

#registerHeading {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 2.5rem;
    color: #0ab8df;
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    letter-spacing: .1rem;
}

.card-body {
    background-color: rgba(255, 0, 128, 1);
    padding: 50px 100px;
    margin: 30px 0;
}

#registerBtn {
    background-color: #0ab8df;
    color: #fafd42;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
    font-family: "Lato", sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
    letter-spacing: .2rem;

}

#registerForm {
    border: none;
}

.form-group {
    color: #0ab8df;
    font-family: "Lato", sans-serif;
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    letter-spacing: .1rem;
    font-size: 1.3rem;
}

.form-group i {
    color: #fafd42;
}

/*LogIn Page*/
#registerLink,
#loginLink {
    text-align: center;
    color: #ff0080;
}

#username.form-control,
#password.form-control,
#email.form-control {
    width: 100%;
    text-align: left;
}