{% extends "base.html" %}
{% block content %}

<main class="404 background-image opaque-overlay">
    <div class="row">
        <div class="col-md-12">
            <div class="container-404">
                <h1 id="header-404">Oops!</h1>
                <h2 id="error-404">404 - Page Not Found</h2>
                <h2 id="sub-404">We are sorry, we can't find the page you are looking for... <i
                        class="far fa-frown"></i>
                    </h3>
                    <button id="btn-404"><a href="{{url_for('home')}}">Lets Get You Back Home</a> </button>
            </div>

        </div>

    </div>

</main>






{% endblock %}