{% extends "base.html" %}
{% block navbar %}
<div id="top-404" class="container-fluid"></div>
{% endblock %}

{% block content %}

<div class="404 background-image opaque-overlay">
    <div class="row">
        <div class="col-md-12">
            <div class="container-404">
                <!--404 Error Message-->
                <h1 id="header-404">Oops!</h1>
                <h2 id="error-404">404 - Page Not Found</h2>
                <h2 id="sub-404">Sorry, we can't find the page you are looking for <i class="far fa-frown"></i>
                    </h3>
                    <!--Button to take user back to Homepage-->
                <div class="col-sm-12 col-md-8 offset-md-2 text-center"><a id="btn-404" href="{{url_for('home')}}">Lets Get You Back Home</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}