{% extends "base.html" %}
{% block navbar %}
<div id="top-500" class="container-fluid"></div>
{% endblock %}

{% block content %}

<div class="500 background-image opaque-overlay">
    <div class="row">
        <div class="col-md-12">
            <div class="container-500">
                <!--404 Error Message-->
                <h1 id="header-500">Oops!</h1>
                <h2 id="error-500">500 - Internal Server Error</h2>
                <h2 id="sub-500">Sorry, we have encountered a technical error<i class="fas fa-exclamation-circle"></i>
                    </h3>
                    <!--Button to take user back to Homepage-->
                    <div class="col-md-8 offset-md-2 text-center"><a id="btn-500" href="{{url_for('home')}}">Lets Get You Back Home</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}