{% extends "base.html" %}
{% block content %}


<div id="categoryAdd" class="form-container container-fluid">
    <h2 id="categoryAddHeader">Add Category</h2>
    <div class="row">
        <!--Form for adding a category to the db-->
        <form class=" category-form col-12" method="POST" action="{{ url_for('add_category') }}">
             <!-- Category Group-->
             <div class="row">
                <div class=" category-input col-12">
                    <label class="col-form-label" for="category_group">Category Group:
                        <i class="fas fa-folder-open prefix"></i>
                    </label>
                    <select class="form-control" id="category_group" name="category_group"  required>
                        <option class="text-center" value="" disabled selected>Choose Category</option>
                        {% for category in category_group|sort(attribute="_id") %}
                        <option class="text-center" value="{{category['_id']}}">{{category["_id"]}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- Category Name -->
            <div class="row">
                <div class="category-input col-12">
                    <label class=" col-form-label" for="category_name">Category Name:
                        <i class="fas fa-folder-open"></i>
                    </label>
                    <input class="form-control" id="categoryAddName" name="category_name" minlength="3" maxlength="30" type="text" required>
                </div>
            </div>
            <!-- Category Image -->
            <div class="row">
                <div class=" category-input col-12">
                    <label class=" col-form-label" for="categoryAddImage">Category Image: (image url)
                        <i class="fas fa-folder-open prefix"></i>
                    </label>
                    <input class="form-control" id="categoryAddImage" name="category_image" minlength="3" type="text" required>
                </div>
            </div>
                <!-- submit button -->
                <div id="addCategorySubmit" class="row">
                    <div id="addCategoryBtns" class="col-12">
                            <a id="addCategoryCancel" href="
                                    {{ url_for('all_categories') }}">
                                Cancel
                                <i class="fas fa-times-circle right"></i>
                            </a>
                        <button id="add_category" type="submit" class="btn-large">
                            Add Category
                            <i class="fas fa-plus-square right"></i>
                        </button>
                    </div>
                </div>
        </form>
    </div>
</div>
{% endblock %}