<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Spill-the-Beau-Tea</title>
</head>

<body>
    <header>
        {% block navbar %}
        <!--Navigation Bar-->
        <nav class="navbar navbar-expand-lg navbar-light navbar fixed-top">
            <div class="container-fluid">
                <span id="navbarLogo" class="navbar-brand text-uppercase"><a href="{{url_for('home')}}"> Spill the
                        Beau-Tea <i class="fas fa-mug-hot"></i></a></span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <!--Code snippet from Stackoverflow to solve issue of hamburger menu closing once link is clicked, taken from Orel Eliyahu' on Stack Overflow - https://stackoverflow.com/questions/36405991/bootstrap-toggle-menu-on-one-page-site-does-not-uncollapse-when-clicked-->
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse"><a class="nav-link" href="{{ url_for('home')}}">Home</a></li>
                        <!--Admin Navbar-->
                        {% if session.user|lower == "admin"|lower %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Manage</a>
                            <div class="dropdown-menu scrollable-menu">
                                <a class="dropdown-item" href=" {{ url_for('all_categories')}}">Categories</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('add_category') }}">Add A Category</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('all_products')}}">Products</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('add_product')}}">Add A Product</a>
                                <div class="dropdown-divider"></div>
                                <!--Nav items available to anyone-->
                                {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
                            <div id="navigation" class="dropdown-menu scrollable-menu">
                                <a class="dropdown-item" href="{{ url_for('get_categories', category_group='Eyes & Brows')}}">Eyes &
                                    Brows</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('get_categories', category_group='Face')}}">Face</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('get_categories', category_group='Lips')}}">Lips</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('get_categories', category_group='Tools & Accessories')}}">Tools
                                    &
                                    Accessories</a>
                                <div class="dropdown-divider"></div>
                            </div>
                            {% endif %}
                            <!--Navbar items only available to registered users-->
                            {% if session.user %}
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse"><a class="nav-link" href="{{ url_for ('profile', username=session['user'])}}">Profile</a>
                        </li>
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse"><a class="nav-link" href="{{ url_for ('logout')}}">Sign Out</a></li>
                        {% else %}
                        <!--Nav items available to non registered users-->
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse"><a class="nav-link" href="{{ url_for ('login')}}">Sign In</a></li>
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse"><a class="nav-link" href="{{ url_for('register')}}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!--/navigation-->
        {% endblock %}
    </header>
    <section>
        <!--Flash Messages-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h4>{{ message }} <i class="fas fa-mug-hot"></i></h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>
    <main id="main-container" class="container">
        {% block content %}
        {% endblock %}
    </main>
    <!--Footer-->
    {% block footer %}
    <footer class=" footer container-fluid bottom">
        <div id="footer-details" class="row">
            <div class="col-md-12 col-sm-12">
                <i class=" far fa-copyright" aria-hidden="true"></i>
                <span class="copyright-text">Spill the Beau-Tea</span>
                <span class="sr-only">copyright</span><span class="copyright-date">2021</span>
                <small>
                    <div class="col-md-12 text-center" id="disclaimer">For educational purposes only</div>
                </small>
            </div>
        </div>
    </footer>
    {% endblock %}
    <!--/footer-->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>