<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Spill-the-Beau-Tea</title>
</head>

<body>
    <header>
        <!--Navigation Bar-->
        <nav class="navbar navbar-expand-lg navbar-light navbar fixed-top">
            <div class="container-fluid">
                <span id="navbarLogo" class="navbar-brand text-uppercase"><a href="{{url_for('home')}}"> Spill the
                        Beau-Tea <i class="fas fa-mug-hot"></i></a></span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <!--Code snippet from Stackoverflow to solve issue of hamburger menu closing once link is clicked, taken from Orel Eliyahu' on Stack Overflow - https://stackoverflow.com/questions/36405991/bootstrap-toggle-menu-on-one-page-site-does-not-uncollapse-when-clicked-->
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse"><a class="nav-link"
                                href="">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">Categories</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Eyes</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Face</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Lips</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Tools & Accessories</a>
                            </div>
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse"><a class="nav-link"
                                href="">Profile</a></li>
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse"><a class="nav-link"
                                href="">New Review</a></li>
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse"><a class="nav-link"
                                href="">Manage Categories</a></li>
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse"><a class="nav-link"
                                href="">Log In</a></li>
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse"><a class="nav-link"
                                href="">Log Out</a></li>
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse"><a class="nav-link"
                                href="">Register</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--/navigation-->

    </header>
    {% block content %}
    {% endblock %}

    <!--Footer-->
    <footer class=" footer container-fluid fixed bottom">
        <div id="footer-details" class="row">
            <div class="col-md-12 col-sm-12">
                <i class=" far fa-copyright" aria-hidden="true"></i>
                <span class="sr-only">copyright</span>
                <span class="copyright-text">Spill the Beau-Tea 2021</span>
            </div>
        </div>
    </footer>
    <!--/footer-->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>