{% extends "base.html" %}
{% block content %}

<div id="categoryEdit" class=" form-container container-fluid">
    <h2 id="categoryEditHeader">Edit Category</h2>
    <div class="row">
        <!--Form for Editing a Category in the db-->
        <form class=" category-form col-12" method="POST" action="{{url_for('edit_category', category_id= category._id)}}">
            <!-- Category Name -->
            <div class="row">
                <div class="category-input col-12">
                    <label class=" col-form-label" for="category_name">Category Name: <i class="fas fa-folder-open"></i></label>
                    <input class="form-control" id="category_name" name="category_name" value="{{category.category_name}}" minlength="3" maxlength="25" type="text" class="validate" required>
                </div>
            </div>
            <!-- Category Group-->
            <div class="row">
                <div class=" category-input col-12">
                    <label class="col-form-label" for="category_group">Category Group: <i class="fas fa-folder-open prefix"></i></label>
                    <select class="form-control" id="category_group" name="category_group" class="validate" required>
                        <option value="" selected>Choose Category</option>
                        {% for category in category_group|sort(attribute="_id") %}
                        <option value="{{category['_id']}}">{{category["_id"]}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- Category Image -->
            <div class="row">
                <div class=" category-input col-12">
                    <label class=" col-form-label" for="category_image">Category Image: (image url) <i class="fas fa-folder-open prefix"></i></label>
                    <input class="form-control" id="category_image" name="category_image" value="{{category.img_url}}" type="text" class="validate" required>
                </div>
                <!-- submit button -->
                <div id="editCategorySubmit" class="row">
                    <div class="col-12">
                        <button id="editCategoryCancel" type="submit" class="btn-large"><a href="
                            {{ url_for('all_categories') }}">
                                Cancel <i class="fas fa-times-circle right"></i></a></button>
                        <button id="edit_category" type="submit" class="btn-large">
                            Edit Category <i class="fas fa-plus-square right"></i>
                        </button>
                    </div>
                </div>
        </form>
    </div>
</div>

{% endblock %}