{% extends "base.html" %}
{% block content %}

<div class="container-fluid home-container">
    <div id="overlay" class="opaque-overlay">&nbsp;</div>
    <div class="row">
        <div class="col-12">
            <div id="home">
                <h2 class="d-flex justify-content-center">Real Reviews on all things Beauty</h2>
                <button type="button" class="btn btn-lg login-btn" id="login">
                    Log In
                </button>
                <button type="button" class="btn btn-lg register-btn" id="register">
                    Register
                </button>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}