{% extends "base.html" %}
{% block content %}

<div class="container-fluid home-container">
    <div id="overlay" class="opaque-overlay">&nbsp;</div>
    <div class="row">
        <div class="col-12">
            <div id="home" class="center">
                <h2>Make-Up Your Mind<h2>
                        <p>Real Reviews You Can Trust!</p>
                        <button type="button" class="btn btn-lg login-btn" id="login">
                            Log In
                        </button>
                        <button type="button" class="btn btn-lg register-btn" id="register">
                            Register
                        </button>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}