{% extends "base.html" %}
{% block content %}

<div class="login-container container-fluid">
    <h3 id="loginHeading">Sign In</h3>
    <!--Form for user to login to their account-->
    <div id="loginForm" class="row card">
        <form class="col-md-8 offset-md-2" method="POST" action="{{ url_for('login')}}">
            <div id="loginCard" class="card-body">
                <!--Username-->
                <div class="row">
                    <div class="login form-group col-md-12">
                        <label for="username">Username</label>
                        <i class="fas fa-user-cog"></i>
                        <input id="username" name="username" type="text" minlength="3" maxlength="15" pattern="^[a-zA-Z0-9]{3,15}$" class="form-control" aria-describedby="username" placeholder="Enter username" required>
                    </div>
                </div>
                <!--Password-->
                <div class="row">
                <div class="form-group col-md-12">
                    <label for="password">Password</label>
                    <i class="fas fa-user-lock"></i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" placeholder="Password" required>
                </div>
            </div>
            <!--Login-->
            <div class="row">
                <button id="registerBtn" type="submit" class="btn col-md-10 offset-md-1">Sign In <i class="fas fa-sign-in-alt"></i></button>
            </div>
        </form>
    </div>
    <!--Links to Register page if user does not have an account yet-->
    <div class="row">
        <div class="col-12">
            <p id="registerLink">Don't have an account yet?
                <a href="{{ url_for('register') }}">Register here</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}