{% extends "base.html" %}
{% block content %}
<!--Button to go back to Profile page-->
<div class="col-md-12 text-left profile-back">
    <a href=" {{ url_for ('profile', username=session['user'])}}" class="btn btn-lg review-btn" id="product_back">
        Back to Profile</a>
</div>
<!--Page to display names of all users - Admin access only-->
<h3 id="manageUsers" class="category-header">Manage Users</h3>
<h5 id="accounts" class="category-header">Accounts</h5>
{% for user in users %}
<div id="accordion_{{user._id}}" class="accordion">
    <div class=" user card mb-3">
        <!--User Name-->
        <div class="card-header" id="userHeading_{{user._id}}">
            <p>Account Name:</p>
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne_{{user._id}}" aria-expanded="true" aria-controls="collapseOne_{{user._id}}">
                    {{user.username.capitalize()}}
                </button>
            </h5>
        </div>
        <!--User Email-->
        <div id="collapseOne_{{user._id}}" class="collapse show" aria-labelledby="collapseOne_{{user._id}}" data-parent="#accordion_{{user._id}}">
            <div class="user-details card-body">
                <p>Email: {{user.email}}</p>
                <!--Button to delete a user account from the db-->
                <a class="account_delete" data-href="{{url_for('delete_user_account', user_id=user._id)}}">Delete
                    Account </a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}