{% extends "base.html" %}
{% block content %}

<div class="products-container container-fluid">
    <form id="searchProducts" class="form-inline my-2 my-lg-0" action="{{ url_for('search')}}" method="POST">
        <input class="form-control mr-sm-2" type="text" name="query" placeholder="Search" aria-label="Search">
        <button id="searchBtn" class="btn btn-sm my-2 px-2 my-sm-0" type="submit">Search</button>
    </form>
    {% for product in products %}

    {% if session.user|lower == "admin"|lower %}
    {% if loop.first %}
    <h2 class="category-header">Products</h2>
    {% endif %}

    {% else %}

    {% if query %}
    {% if results == 0 %}
    <h2 class="category-header">No results found for '{{ query }}'</h2>

    {% elif results >=1 %}
    {% if loop.first %}
    <h2 class="category-header">Your search for '{{ query }}' returned {{ results }} results</h2>
    {% endif %}

    {% endif %}

    {% else %}

    {% if loop.first %}
    <h2 class="category-header">{{product.category_name}}</h2>
    {% endif %}
    {% endif %}
    {% endif %}
    <div id="product" class="card product-card mb-3 col-md-12">
        <div class="row">
            <div class="col-md-5">
                <img src="{{ product.img_url }}" class="card-img product-image" alt="{{ product.product_name }}">
            </div>
            <div class="col-md-7">
                <div id="product-info" class="product-text card-body text-justify">
                    <h4 class="product-brand card-title">{{ product.brand }}</h4>
                    <h5 class="product-name card-title">{{ product.product_name }}</h5>
                    <i id="star" class="fas fa-star"></i>
                    <p class="card-text"><strong id="description">Description:</strong></p>
                    <p class="card-text">{{product.description}}</p>
                    <p class="card-text"><strong id="shades">Shades: </strong> {{ product.num_shades}}</p>
                    <span class="card-text"> <strong id="price">Price: </strong>€ {{ product.price}}</span>
                    <!--<span class="product-buy card-text"><strong id="buy">Where to buy:</strong> <a
                            href="{{ product.buy_url}}" target="_blank">Buy Here!</a></span>--><br>
                    <a href="" type="button" class="btn btn-lg review-btn" id="product-reviews">
                        See Reviews
                    </a>
                    {% if session.user != "admin" %}
                    <button type="button" id="review" class="btn btn-lg review-btn" data-toggle="modal"
                        data-target="#exampleModal">
                        Add Review
                    </button>

                    <!--Adding a Review Modal-->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h5 class="modal-title" id="exampleModalLabel">Add Review</h5>

                                </div>
                                <div class="modal-body">
                                    <div class="row form-group">
                                        <form class=" product-form col-12" method="POST" action="">
                                            <!-- Review Tagline -->

                                            <div class="row">
                                                <div class=" product-input input-field col-12">
                                                    <label for="product_name">Title: </label>
                                                    <input class="form-control" id="product_name" name="product_name"
                                                        minlength="3" maxlength="25" type="text" class="validate"
                                                        required>
                                                </div>
                                            </div>
                                            <!--User Age-->
                                            <div class="row">
                                                <div class=" product-input input-field col-12">
                                                    <label for="brand">Age: </label>
                                                    <input class="form-control" id="brand" name="brand" minlength="3"
                                                        maxlength="25" type="text" class="validate" required>
                                                </div>
                                            </div>
                                            <!--Product Rating-->
                                            <div>
                                                <fieldset>
                                                    <legend id="radioLabel"><i class="fas fa-star"></i> Star Rating
                                                    </legend>
                                                    <div id="radio" class="md-form mb-5">
                                                        <label class="radio-inline"> <input type="radio"
                                                                name="inlineRadioOptions" id="inlineRadio1"
                                                                value="option1" /> 1 </label>
                                                        <label class="radio-inline"> <input type="radio"
                                                                name="inlineRadioOptions" id="inlineRadio2"
                                                                value="option2" /> 2 </label>
                                                        <label class="radio-inline"> <input type="radio"
                                                                name="inlineRadioOptions" id="inlineRadio3"
                                                                value="option3" /> 3 </label>
                                                        <label class="radio-inline"> <input type="radio"
                                                                name="inlineRadioOptions" id="inlineRadio4"
                                                                value="option4" /> 4 </label>
                                                        <label class="radio-inline"> <input type="radio"
                                                                name="inlineRadioOptions" id="inlineRadio5"
                                                                value="option5" /> 5 </label>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <!--Product Review-->
                                            <div class="row">
                                                <div class=" product-input col-12">
                                                    <label for="product_image">Review: </label>
                                                    <textarea class="form-control" id="description" name="description"
                                                        minlength="3" type="text" rows="2" class="validate"
                                                        required></textarea>
                                                </div>
                                            </div>
                                            <!--Repurchase Checkbox-->
                                            <div class="switch">
                                                <i
                                                    class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
                                                <label for="repurchase">Would you repurchase?</label>
                                                <input type="checkbox" id="is_urgent" name="is_urgent">
                                                <span class="lever"></span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <!-- submit button -->
                                    <div class="row">
                                        <div class="col-12 ">
                                            <button id="edit_category" type="submit" class="btn-large"><a href="
                                                {{ url_for('all_products') }}">
                                                    Cancel <i class="fas fa-times-circle right"></i></a></button>
                                            <button id="add_product" type="submit" class="btn-large">
                                                Add Review <i class="fas fa-plus-square right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% elif session.user|lower == "admin"|lower %}
                    <a href="{{ url_for('edit_product', product_id=product._id) }}" type="button"
                        class="btn btn-lg review-btn" id="edit_product">
                        Edit Product
                    </a>
                    <a href="{{ url_for('delete_product', product_id=product._id) }}" type="button"
                        class="btn btn-lg review-btn" id="delete_product">
                        Delete Product
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>


{% endblock %}