{% extends "base.html" %}
{% block content %}

<div class="products-container container-fluid">
    <form id="searchProducts" class="form-inline my-2 my-lg-0" action="{{ url_for('search')}}" method="POST">
        <input class="form-control mr-sm-2" type="text" name="query" placeholder="Search" aria-label="Search">
        <button id="searchBtn" class="btn btn-sm my-2 px-2 my-sm-0" type="submit">Search</button>
    </form>

    {% if query %}
    {% if results >= 1 %}
    <h2 class="category-header">Your search for '{{ query }}' returned {{ results }} results</h2>
    {% endif %}
    {% endif %}

    <h2 class="category-header">{{product.brand}}</h2>
    <h2 class="category-header"> {{product.category_name}}: {{product.product_name}}</h2>

    <div id="product" class="card product-card mb-3 col-md-12">
        <div class="row">
            <div class="col-md-5">
                <img src="{{ product.img_url }}" class="card-img product-image" alt="{{ product.product_name }}">
            </div>
            <div class="col-md-7">
                <div id="product-info" class="product-info card-body text-justify">
                    <h4 class="product-brand card-title">{{ product.brand }}</h4>
                    <h4 class="product-brand card-title">{{ product.category_name }}</h4>
                    <h4 class="product-name card-title">{{ product.product_name }}</h4>
                    <i id="star" class="far fa-star"></i>
                    <i id="star" class="far fa-star"></i>
                    <i id="star" class="far fa-star"></i>
                    <i id="star" class="far fa-star"></i>
                    <i id="star" class="far fa-star"></i>
                    <p class="card-text"><strong id="description">Description:</strong></p>
                    <p class="card-text">{{product.description}}</p>
                    <p class="card-text"><strong id="shades">Shades: </strong> {{ product.num_shades}}</p>
                    <span class="card-text"> <strong id="price">Price: </strong>€ {{ product.price}}</span>
                    <!--<span class="product-buy card-text"><strong id="buy">Where to buy:</strong> <a
                            href="{{ product.buy_url}}" target="_blank">Buy Here!</a></span>--><br>
                    {% if session.user != "admin" %}
                    <button type="button" id="review" class="btn btn-lg review-btn" data-toggle="modal"
                        data-target="#exampleModal">
                        Add Review
                    </button>

                    <!--Adding a Review using a Modal Popup-->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h5 class="modal-title" id="reviewModal">Add Review</h5>

                                </div>
                                <div class="modal-body">
                                    <div class="row form-group">
                                        <form class=" product-form col-12" method="POST"
                                            action=" {{url_for('add_review', product_id= product._id)}}">
                                            <!-- Review Tagline -->

                                            <div class="row">
                                                <div class=" product-input input-field col-12">
                                                    <label for="title">Title: </label>
                                                    <input class="form-control" id="title" name="title" minlength="3"
                                                        maxlength="25" type="text" class="validate" required>
                                                </div>
                                            </div>
                                            <!--User Age-->
                                            <div class="row">
                                                <div class=" product-input input-field col-12">
                                                    <label for="age">Age: </label>
                                                    <input class="form-control" id="age" name="age" type="number"
                                                        class="validate" required>
                                                </div>
                                            </div>
                                            <!--Product Rating-->
                                            <div>
                                                <fieldset>
                                                    <legend id="starRating"><i class="fas fa-star"></i> Star Rating
                                                    </legend>
                                                    <div id="radio" class="md-form mb-5">
                                                        <label class="radio-inline"> <input type="radio" name="rating"
                                                                id="rating" value=1 /> 1 </label>
                                                        <label class="radio-inline"> <input type="radio" name="rating"
                                                                id="rating" value=2 /> 2 </label>
                                                        <label class="radio-inline"> <input type="radio" name="rating"
                                                                id="rating" value=3 /> 3 </label>
                                                        <label class="radio-inline"> <input type="radio" name="rating"
                                                                id="rating" value=4 /> 4 </label>
                                                        <label class="radio-inline"> <input type="radio" name="rating"
                                                                id="rating" value=5 /> 5 </label>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <!--Product Review-->
                                            <div class="row">
                                                <div class=" product-input col-12">
                                                    <label for="review_content">Review: </label>
                                                    <textarea class="form-control" id="review_content"
                                                        name="review_content" minlength="3" type="text" rows="2"
                                                        class="validate" required></textarea>
                                                </div>
                                            </div>
                                            <!--Repurchase Checkbox-->
                                            <div class="switch">
                                                <i
                                                    class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
                                                <label for="repurchase">Would you repurchase?</label>
                                                <input type="checkbox" id="repurchase" name="repurchase">
                                                <span class="lever"></span>
                                            </div>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <!-- submit button -->
                                    <div class="row">
                                        <div class="col-12 ">
                                            <button id="edit_category" type="submit" class="btn-large"><a href="
                                                {{ url_for('all_products')}}">
                                                    Cancel <i class="fas fa-times-circle right"></i></a></button>
                                            <button id="add_product" type="submit" class="btn-large">
                                                Add Review <i class="fas fa-plus-square right"></i>
                                            </button>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% elif session.user|lower == "admin"|lower %}
                    <a href="{{ url_for('edit_product', product_id=product._id) }}" type="button"
                        class="btn btn-lg review-btn" id="edit_product">
                        Edit Product
                    </a>
                    <a href="{{ url_for('delete_product', product_id=product._id) }}" type="button"
                        class="btn btn-lg review-btn" id="delete_product">
                        Delete Product
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <hr>
    {% for review in reviews %}
    {% if review.product == product._id %}
    {% if loop.first %}
    <h3 class="review-header">Reviews</h3>
    {% endif %}

    <div id="reviews" class="card product-card mb-3 col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div id="review-info" class="review-text card-body text-justify">
                    {% if session.user|lower == "admin"|lower %}
                    <h3 class="product card-title">{{ review.product.product_name }}</h3>
                    {% endif %}
                    <h4 class="review-title card-title">{{ review.title }}</h4>
                    <h5 class="rating card-title">Rating:

                        {% if review.rating == 1 %}
                        <i id="star" class="fas fa-star"></i>
                        {% elif review.rating == 2 %}
                        <i id="star" class="fas fa-star"></i>
                        <i id="star" class="fas fa-star"></i>
                        {% elif review.rating == 3 %}
                        <i id="star" class="fas fa-star"></i>
                        <i id="star" class="fas fa-star"></i>
                        <i id="star" class="fas fa-star"></i>
                        {% elif review.rating == 4 %}
                        <i id="star" class="fas fa-star"></i>
                        <i id="star" class="fas fa-star"></i>
                        <i id="star" class="fas fa-star"></i>
                        <i id="star" class="fas fa-star"></i>
                        {% elif review.rating == 5 %}
                        <i id="star" class="fas fa-star"></i>
                        <i id="star" class="fas fa-star"></i>
                        <i id="star" class="fas fa-star"></i>
                        <i id="star" class="fas fa-star"></i>
                        <i id="star" class="fas fa-star"></i>
                        {% else %}
                        No Ratings Yet
                        {% endif %}
                    </h5>
                    <p class="card-text "><strong id="reviewText">Review:</strong></p>
                    <p class="card-text ">{{review.review}}</p>
                    {% if review.repurchase == "on" %}
                    <i class="fas fa-thumbs-up" data-toggle="tooltip" data-placement="left" title="Would buy again"></i>
                    {% else %}
                    <i class="fas fa-thumbs-down"></i>
                    {% endif %}
                    <p class="card-text "><strong id="added_by">Added By: </strong>
                        {{ review.created_by|capitalize}}</p>
                    <span class="card-text "> <strong id="created_by">Added On:
                        </strong>{{ review.created_on}}</span>
                    <div class="text-center">
                        {% if session.user %}

                        <button type="button" id="edit_review" class="btn btn-lg review-btn" data-toggle="modal"
                            data-target="#exampleModal">
                            Edit Review
                        </button>

                        <!--Editing a Review using a Modal Popup-->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h5 class="modal-title" id="reviewModal">Edit Review</h5>

                                    </div>
                                    <div class="modal-body">
                                        <div class="row form-group">
                                            <form class=" product-form col-12" method="POST"
                                                action="{{ url_for('edit_review', review_id=review._id, product_id=review.product._id) }}">
                                                <!-- Review Tagline -->

                                                <div class="row">
                                                    <div class=" product-input input-field col-12">
                                                        <label for="title">Title: </label>
                                                        <input class="form-control" id="title" name="title"
                                                            minlength="3" value="{{review.title}}" maxlength="25"
                                                            type="text" class="validate" required>
                                                    </div>
                                                </div>
                                                <!--User Age-->
                                                <div class="row">
                                                    <div class=" product-input input-field col-12">
                                                        <label for="age">Age: </label>
                                                        <input class="form-control" id="age" name="age" type="number"
                                                            value="{{review.age}}" class="validate" required>
                                                    </div>
                                                </div>
                                                <!--Product Rating-->
                                                <div>
                                                    <fieldset>
                                                        <legend id="starRating"><i class="fas fa-star"></i> Star
                                                            Rating
                                                        </legend>
                                                        <div id="radio" class="md-form mb-5">
                                                            <label class="radio-inline"> <input type="radio"
                                                                    name="rating" id="rating" value="1" required />
                                                                1
                                                            </label>
                                                            <label class="radio-inline"> <input type="radio"
                                                                    name="rating" id="rating" value="2" required />
                                                                2
                                                            </label>
                                                            <label class="radio-inline"> <input type="radio"
                                                                    name="rating" id="rating" value="3" required />
                                                                3
                                                            </label>
                                                            <label class="radio-inline"> <input type="radio"
                                                                    name="rating" id="rating" value="4" required />
                                                                4
                                                            </label>
                                                            <label class="radio-inline"> <input type="radio"
                                                                    name="rating" id="rating" value="5" required />
                                                                5
                                                            </label>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <!--Product Review-->
                                                <div class="row">
                                                    <div class=" product-input col-12">
                                                        <label for="review_content">Review: </label>
                                                        <textarea class="form-control" id="review_content"
                                                            value="{{review.review}}" name="review_content"
                                                            minlength="3" type="text" rows="2" class="validate"
                                                            required>{{review.review}}</textarea>
                                                    </div>
                                                </div>
                                                <!--Repurchase Checkbox-->
                                                <div class="switch">
                                                    <i
                                                        class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
                                                    <label for="repurchase">Would you repurchase?</label>
                                                    <input type="checkbox" id="repurchase" name="repurchase">
                                                    <span class="lever"></span>
                                                </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <!-- submit button -->
                                        <div class="row">
                                            <div class="col-12 ">
                                                <button id="edit_category" type="submit" class="btn-large"><a href="
                                                    {{ url_for('all_products')}}">
                                                        Cancel <i class="fas fa-times-circle right"></i></a></button>
                                                <button id="add_product" type="submit" class="btn-large">
                                                    Edit Review <i class="fas fa-plus-square right"></i>
                                                </button>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif%}
                        {% if review.created_by == session['user'] or session['user'] == 'admin'%}
                        <a href="{{url_for('delete_review', review_id=review._id)}}" type="button"
                            class="btn btn-lg review-btn" id="delete_review">
                            Delete Review
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% elif review.product != product._id %}
{% if loop.first %}
<h3 class="no-review"> No Reviews yet! Be the first to write a Review!</h3>
{% endif %}
{% endif %}
{% endfor %}
</div>

</div>


{% endblock %}