{% extends "base.html" %}
{% block content %}
<!--Search bar for search query-->
<div class="products-container container-fluid">
    <form id="searchProducts" class="form-inline my-2 my-lg-0" action="{{ url_for('search')}}" method="POST">
        <input class="form-control mr-sm-2" type="text" name="query" placeholder="Search by category, brand or product name" aria-label="Search">
        <button id="searchBtn" class="btn btn-sm my-2 px-2 my-sm-0" type="submit">Search</button>
    </form>
    <!--Header to return number of results found from query search-->
    {% if query %}
        {% if results >= 1 %}
        <h2 class="category-header">Your search for '{{ query }}' returned {{ results }} results</h2>
        {% endif %}
    {% endif %}
    <!--Product Brand-->
    <h2 id="brandHead" class="category-header">{{product.brand}}</h2>
    <!--Product Category & Name-->
    <h2 id="productName" class="category-header"> {{product.category_name}}: {{product.product_name}}</h2>
    <!--Product Image-->
    <div id="product" class="card product-card mb-3 col-md-12">
        <div class="row">
            <div class="col-md-12 col-lg-5">
                <img src="{{ product.img_url }}" class="card-img product-image" alt="{{ product.product_name }}">
            </div>
            <!--Product information - details about the product-->
            <div id="productDetails" class=" col-md-12 col-lg-7">
                <div id="product-info" class="product-info card-body">
                    <!--Favourites Button to add product to user favourites/ or remove product from favourites-->
                    {% if session.user|lower %}
                    <!--If product already in favourites - add full coloured heart-->
                        {% if product._id in favourites %}
                        <a href="{{url_for('delete_favourite', product_id=product._id)}}" class="btn heart btn-lg active" role="button" aria-pressed="true" data-toggle="tooltip" data-placement="left" title="Remove from Favourites"><i class="fas fa-heart"></i>
                        </a>
                        <!--If product not in user favourites - show outlined heart-->
                        {% else %}
                        <a href="{{url_for('favourites', product_id=product._id)}}" class="btn heart btn-lg active" role="button" aria-pressed="true" data-toggle="tooltip" data-placement="left" title="Add to Favourites"><i class="far fa-heart"></i>
                        </a>
                        {% endif %}
                    {% endif %}
                    <!--Product Card - details about the specific product-->
                    <h4 class="product-brand card-title">{{ product.brand }}</h4>
                    <h4 class="product-brand card-title">{{ product.category_name }}</h4>
                    <h4 class="product-name card-title">{{ product.product_name }}</h4>
                    <!--Product Rating Average-->
                    {% for rating in ratings %}
                        <!-- only apply if the product._id matches the rating._id -->
                        {% if product._id == rating._id %}
                        <!-- set variable "count" to the leftover value deducted from rating.average -->
                        {% set count = (5 - rating.average|int) if ".5" not in rating.average|string else (4 - rating.average|int) %}
                        <!-- for each star in the rating.average, insert whole-star -->
                        {% for star in range(rating.average|int) %}
                        <i class="fas fa-star"></i>
                        {% endfor %}
                        <!-- for each half-star in rating.average, insert half-star -->
                        {% if ".5" in rating.average|string %}
                        <i class="fas fa-star-half-alt"></i>
                        {% endif %}
                        <!-- for each remaining value in "count" variable, insert empty-star -->
                        {% for star in range(count) %}
                        <i class="far fa-star"></i>
                        {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <!--if product has no reviews-->
                    {% if review_count == 0 %}
                        {% set count = 5  %}
                        <!-- for each star in the range(count), insert whole-star -->
                        {% for star in range(count) %}
                        <i class="far fa-star"></i>
                        {% endfor %}
                    {% endif %}
                    <p class="product-card card-text"><strong id="description">Description:</strong></p>
                    <p class="product-card card-text">{{product.description}}</p>
                    <p class="product-card card-text"><strong id="shades">Shades: </strong> {{ product.num_shades}}</p>
                    <span class="product-card card-text"> <strong id="price">Price: </strong>€ {{ product.price}}</span>
                    <!--Button to add a review for the product - only available to registered users-->
                    {% if session.user|lower %}
                    <button type="button" id="review" class="btn btn-lg review-btn" data-toggle="modal" data-target="#addReview">
                        Add Review
                    </button>
                    <!--Button to edit a product from the db - available to admin only-->
                    {% elif session.user|lower == "admin"|lower %}
                    <a href="{{ url_for('edit_product', product_id=product._id) }}" type="button" class="btn btn-lg review-btn" id="edit_product">
                        Edit Product
                    </a>
                    <!--Button to delete a product from the db - available to admin only-->
                    <a href="{{ url_for('delete_product', product_id=product._id) }}" type="button" class="product_delete btn btn-lg review-btn" id="delete_product">
                        Delete Product
                    </a>
                    {% endif %}
                    <!--Adding a Review using a Modal Popup-->
                    <div class="modal fade" id="addReview" tabindex="-1" role="dialog" aria-labelledby="addReview" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h5 class="modal-title" id="reviewModal">Add Review</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="row form-group">
                                        <form class=" review-form col-12" method="POST" action=" {{url_for('add_review', product_id= product._id)}}">
                                            <!-- Review Tagline -->
                                            <div class="row">
                                                <div class=" product-input input-field col-12">
                                                    <label for="title">Title: </label>
                                                    <input class="form-control" id="title" name="title" minlength="3" maxlength="50" type="text" required>
                                                </div>
                                            </div>
                                            <!--Product Rating-->
                                            <div>
                                                <fieldset>
                                                    <legend class="star-rating"><i class="fas fa-star"></i> Star Rating
                                                    </legend>
                                                    <div id="radio" class="md-form mb-5">
                                                        <label class="radio-inline"> <input type="radio" name="rating" id="rating1" value=1 /> 1 </label>
                                                        <label class="radio-inline"> <input type="radio" name="rating" id="rating2" value=2 /> 2 </label>
                                                        <label class="radio-inline"> <input type="radio" name="rating" id="rating3" value=3 /> 3 </label>
                                                        <label class="radio-inline"> <input type="radio" name="rating" id="rating4" value=4 /> 4 </label>
                                                        <label class="radio-inline"> <input type="radio" name="rating" id="rating5" value=5 /> 5 </label>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <!--Product Review-->
                                            <div class="row">
                                                <div class=" product-input col-12">
                                                    <label for="review_content">Review: </label>
                                                    <textarea class="form-control" id="review_content" name="review_content" minlength="3" rows="2" required></textarea>
                                                </div>
                                            </div>
                                            <!--Repurchase Checkbox-->
                                            <div class="switch">
                                                <i class="fas fa-thumbs-up"></i>
                                                <label for="repurchase">Would you repurchase?</label>
                                                <input type="checkbox" id="repurchase" name="repurchase">
                                                <span class="lever"></span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <!-- submit button -->
                                    <div class="row">
                                        <div id="modalBtns" class="col-12 ">
                                            <a class="edit_review btn-large" href="
                                                {{ url_for('product_info', product_id=product._id) }}">
                                                Cancel <i class="fas fa-times-circle right"></i></a>
                                            <button id="add_review" type="submit" class="btn-large">
                                                Add Review <i class="fas fa-plus-square right"></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!--Header that displays different message based on whether the product has reviews or not-->
    <h3 class="no-review">{{message}}</h3>
    <!--Displays reviews related to the specific product
    Shows max 5 most recent reviews-->
    {% for review in reviews %}
    <div id="reviews_{{review._id}}" class="card product-card mb-3 col-md-12">
        <div class="row">
            <div class="col-md-12">
                <!--Review Card - review information-->
                <div id="reviewInfo_{{review._id}}" class="review-text card-body text-justify">
                    <h4 class="review-title card-title">{{ review.title }}</h4>
                    <!--Review Rating-->
                    <h5 class="rating card-title">Rating:
                        <!-- set variable "count" to the leftover value deducted from review rating -->
                        {% set count = (5 - review.rating)%}
                        <!-- for each star in the review rating, insert whole-star -->
                        {% for star in range(review.rating|int) %}
                        <i class="fas fa-star"></i>
                        {% endfor %}
                        <!-- for each remaining value in "count" variable, insert empty-star -->
                        {% for star in range(count) %}
                        <i class="far fa-star"></i>
                        {% endfor %}
                    </h5>
                    <p class="card-text "><strong class="reviewText">Review:</strong></p>
                    <p class="card-text ">{{review.review}}</p>
                    {% if review.repurchase == "on" %}
                    <i class="fas fa-thumbs-up" data-toggle="tooltip" data-placement="left" title="Would buy again"></i>
                    {% else %}
                    <i class="fas fa-thumbs-down" data-toggle="tooltip" data-placement="left" title="Wouldn't buy again"></i>
                    {% endif %}
                    <p class="card-text "><strong class="added_by">Added By: </strong>
                        {{ review.created_by|capitalize}}
                    </p>
                    <span class="card-text "> <strong class="created_by">Added On:
                        </strong>{{ review.created_on}}</span>
                    <div class="text-center">
                        <!--Button to delete review from db if the review was written by the user or the user is admin-->
                        {% if review.created_by == session['user'] or session['user'] == 'admin'%}
                        <a href="{{url_for('delete_review', review_id=review._id)}}" type="button" class="edit_review btn-large review-btn">
                            Delete Review
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!--Button to show all reviews for the product if more than the 5 displayed-->
    {% if review_count >=1 %}
    <div class="col-md-12 text-center"><a href="{{url_for('reviews', product_id=product._id)}}" class="review-btn" id="more_reviews">
            More Reviews...
        </a>
    </div>
    {% endif %}
</div>


{% endblock %}