{% extends "base.html" %}
{% block content %}

<div class="products-container container-fluid">
    <form id="searchProducts" class="form-inline my-2 my-lg-0" action="{{ url_for('search')}}" method="POST">
        <input class="form-control mr-sm-2" type="text" name="query" placeholder="Search" aria-label="Search">
        <button id="searchBtn" class="btn btn-sm my-2 px-2 my-sm-0" type="submit">Search</button>
    </form>
    {% for product in products %}

    {% if query %}
    {% if results >= 1 %}
    {% if loop.first %}
    <h2 class="category-header">Your search for '{{ query }}' returned {{ results }} results</h2>
    {% endif %}

    {% endif %}
    {% endif %}

    {% if loop.first %}
    <h2 class="category-header">Products</h2>
    {% endif %}
    <div id="product" class="card product-card mb-3 col-md-12">
        <div class="row">
            <div class="col-md-5">
                <img src="{{ product.img_url }}" class="card-img product-image" alt="{{ product.product_name }}">
            </div>
            <div class="col-md-7">
                <div id="product-info" class="product-text card-body text-justify">
                    <h4 class="product-brand card-title">{{ product.brand }}</h4>
                    <h4 class="product-brand card-title">{{ product.category_name }}</h4>
                    <h4 class="product-name card-title">{{ product.product_name }}</h4>
                    {% for rating in ratings|sort(attribute=average) %}
                    <i id="star" class="fas fa-star">{{rating["average"]}}</i>
                    {% endfor %}
                    <!--<p class="card-text"><strong>Description:</strong></p>
                    <p class="card-text">{{product.description}}</p>-->
                    <p id="product-shades" class="card-text"><strong>Shades: </strong> {{ product.num_shades}}</p>
                    <span id="product-price" class="card-text"> <strong>Price: </strong>€ {{ product.price}}</span>
                    <div>
                        <a href="{{url_for('product_info', product_id=product._id)}}" type="button"
                            class="btn btn-lg review-btn" id="product-reviews">
                            More Info...
                        </a>
                        {% if session.user|lower == "admin"|lower %}
                        <a href="{{ url_for('edit_product', product_id=product._id) }}" type="button"
                            class="btn btn-lg review-btn" id="edit_product">
                            Edit Product
                        </a>
                        <a href="{{ url_for('delete_product', product_id=product._id) }}" type="button"
                            class="btn btn-lg review-btn" id="delete_product">
                            Delete Product
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>


{% endblock %}