{% extends "base.html" %}
{% block content %}

<div class="profile-container container-fluid">

    <!--User Profile-->
    <div id="profile" class="row">
        <div class=" card col-12">
            <!--User's name displayed-->
            <h3 class="profile-header">
                {{ user.username|capitalize }}'s Profile
            </h3>
            <hr id="profileHeader">
            <!--Items only shown on Admin profile-->
            {% if session.user|lower == "admin"|lower %}
            <div id="adminAccordion" class="accordion">
                <div class="admin-manage card">
                    <div class="admin-heading card-header" id="manageOne">
                        <h2 class="mb-0">
                            <!--Button to display manage options to admin-->
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseAdminOne" aria-expanded="true" aria-controls="collapseAdminOne">
                                Manage
                            </button>
                        </h2>
                    </div>

                    <div id="collapseAdminOne" class="collapse" aria-labelledby="manageOne" data-parent="#adminAccordion">
                        <div class="admin-card card-body">
                            <!--Link to direct Admin to view all categories in the db-->
                                <a href=" {{ url_for('all_categories')}}">
                                    All Categories
                                </a>
                            <br>
                            <!--Link to direct Admin to add a category to the db-->
                                <a href="{{ url_for('add_category') }}">
                                    Add A Category
                                </a><br>
                            <!--Link to direct Admin to view all products in the db-->
                                <a href="{{ url_for('all_products')}}">
                                    All Products
                                </a>
                            <br>
                            <!--Link to direct Admin to Add a product to the db-->
                                <a href="{{ url_for('add_product')}}">
                                    Add A Product
                                </a>
                        </div>
                    </div>
                </div>
                <div class="admin-manage card">
                    <div class="admin-heading card-header" id="manageTwo">
                        <h2 class="mb-0">
                            <!--Button to display the option to manage users-->
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseAdminTwo" aria-expanded="false" aria-controls="collapseAdminTwo">
                                Users
                            </button>
                        </h2>
                    </div>
                    <div id="collapseAdminTwo" class="collapse" aria-labelledby="manageTwo" data-parent="#adminAccordion">
                        <div class="admin-card card-body">
                            <!--Link that directs Admin to a list of all users-->
                            <a href="{{url_for('manage_users')}}">Manage Users</a>
                        </div>
                    </div>
                </div>
                <div class="admin-manage card">
                    <div class="admin-heading card-header" id="manageThree">
                        <h2 class="mb-0">
                            <!--Button to show option to Admin to manage reviews-->
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseAdminThree" aria-expanded="false" aria-controls="collapseAdminThree">
                                Reviews
                            </button>
                        </h2>
                    </div>
                    <div id="collapseAdminThree" class="collapse" aria-labelledby="manageThree" data-parent="#adminAccordion">
                        <div class="admin-card card-body">
                            <!--Link to direct admin to a list of all reviews in the database-->
                            <a href="{{ url_for('manage_reviews')}}">All Reviews</a>
                        </div>
                    </div>
                </div>
                <div class="admin-manage card">
                    <div class="admin-heading card-header" id="manageFour">
                        <h2 class="mb-0">
                            <!--Button to show option to Admin to manage user feedback-->
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseAdminFour" aria-expanded="false" aria-controls="collapseAdminThree">
                                Feedback & Suggestions
                            </button>
                        </h2>
                    </div>
                    <div id="collapseAdminFour" class="collapse" aria-labelledby="manageFour" data-parent="#adminAccordion">
                        <div class="admin-card card-body">
                            <!--Link to direct admin to a list of all feedback comments in the database-->
                            <a href="{{ url_for('manage_feedback')}}">All Feedback</a>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <!--Items displayed for every other user with an account-->
            <!--Favourite Products List-->
            <div class="row">
                <div id="favourites" class="col-md-12">
                    <h3 id="favouritesHeading" class="category-header">Favourites <i id="profile-heart" class="fas fa-heart"></i></h3>
                    {% for product_info in favourites %}
                    <div id="favAccordion_{{product_info._id}}" class="favouriteAccordion text-center">
                        <div class="favourites card">
                            <div class="card-header" id="favourite_{{product_info._id}}">
                                <h5 class="mb-0">
                                    <!--Displays the product name and brand in an accordion list-->
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFav_{{favourites._id}}" aria-expanded="true" aria-controls="collapseFav_{{product_info._id}}">
                                        {{product_info.brand}} : {{product_info.product_name}}
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseFav_{{product_info._id}}" class="collapse show" aria-labelledby="collapseFav_{{product_info._id}}" data-parent="#favAccordion_{{favourites._id}}">
                                <!--Button provided to user to remove an item from their favourites list. 
                                    It will delete the item from user favourites in the db-->
                                <div id="favouriteCard_{{product_info._id}}" class="favourite-card card-body">
                                    <a href="{{ url_for('delete_favourite', product_id=product_info._id)}}">
                                        Delete Product</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
      </div>  
    <!--User Reviews-->
    <div class="row">
        <div class="profile-reviews col-md-12">
            <hr id="userReviews">
            <!--Button to open contact feedback form modal-->
            <div class="col-md-12 text-center">
                <button id="contact" type="button" class="btn btn-primary" data-toggle="modal" data-target="#feedbackModal">Contact Us</button>
            </div>
            <!--List of User Reviews they have created-->
            <h3 class="category-header">My Reviews</h3>
            {% for reviews in user_reviews %}
            <div class="card product-card mb-3 col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <!--Review Details-->
                        <div id="userReviewInfo_{{reviews._id}}" class="review-text card-body">
                            {% for product in products %}
                                {% if reviews.product == product._id%}
                                <h3 class="product card-title">{{ product.product_name }}</h3>
                                {% endif %}
                            {% endfor %}
                            <h4 class="review-title card-title">{{ reviews.title }}</h4>
                            <h5 class="rating card-title">Rating:
                                <!--Review Rating-->
                                <!-- set variable "count" to the leftover value deducted from review rating -->
                                {% set count = (5 - reviews.rating)%}
                                <!-- for each star in the review rating, insert whole-star -->
                                {% for star in range(reviews.rating|int) %}
                                <i class="fas fa-star"></i>
                                {% endfor %}
                                <!-- for each remaining value in "count" variable, insert empty-star -->
                                {% for star in range(count) %}
                                <i class="far fa-star"></i>
                                {% endfor %}
                            </h5>
                            <p class="card-text "><strong class="reviewText">Review:</strong></p>
                            <p class="card-text ">{{reviews.review}}</p>
                            <!--Displays icon of thumbs up if user would repurchase-->
                            {% if reviews.repurchase == "on" %}
                            <i class="fas fa-thumbs-up" data-toggle="tooltip" data-placement="left" title="Would buy again"></i>
                            <!--Displays icon thumbs down if user would not repurchase-->
                            {% else %}
                            <i class="fas fa-thumbs-down" data-toggle="tooltip" data-placement="left" title="Would'nt buy again"></i>
                            {% endif %}
                            <span class="card-text "> <strong class="created_by">Added On:
                                </strong>{{ reviews.created_on}}</span>
                            <div class="reviewBtns text-center">
                                <!--Button to allow user to edit the review in the db-->
                                <button type="button" class="edit_review btn btn-lg review-btn" data-toggle="modal" data-target="#editReview_{{reviews._id}}">
                                    Edit Review
                                </button>
                                <!--Button to allow user to delete their review from the db-->

                                <a data-href="{{url_for('delete_review', review_id=reviews._id)}}" class="review_delete btn btn-lg review-btn">
                                    Delete Review
                                </a>
                               
                                <!--Editing a Review using a Modal Popup-->
                                <div class="modal fade" id="editReview_{{reviews._id}}" tabindex="-1" role="dialog" aria-labelledby="editReview_{{reviews._id}}" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h5 class="modal-title" id="reviewModal_{{reviews._id}}">Edit Review
                                                </h5>

                                            </div>
                                            <div class="modal-body">
                                                <div class="row form-group">
                                                    <form class=" review-form col-12" method="POST" action="{{ url_for('edit_review', review_id=reviews._id) }}">
                                                        <!-- Review Tagline -->
                                                        <div class="row">
                                                            <div class=" product-input input-field col-12">
                                                                <label for="title_{{reviews._id}}">Title: </label>
                                                                <input class="form-control" id="title_{{reviews._id}}" name="title" minlength="3" value="{{reviews.title}}" maxlength="50" type="text" required>
                                                            </div>
                                                        </div>

                                                        <!--Product Rating-->
                                                        <div>
                                                            <fieldset>
                                                                <legend class="star-rating"><i class="fas fa-star"></i>
                                                                    Star Rating
                                                                </legend>
                                                                <div id="radio_{{reviews._id}}" class="md-form mb-5">
                                                                    <label class="radio-inline">
                                                                        <input type="radio" name="rating" id="rating1_{{reviews._id}}" value="1" required /> 1
                                                                    </label>
                                                                    <label class="radio-inline">
                                                                        <input type="radio" name="rating" id="rating2_{{reviews._id}}" value="2" required /> 2
                                                                    </label>
                                                                    <label class="radio-inline">
                                                                        <input type="radio" name="rating" id="rating3_{{reviews._id}}" value="3" required /> 3
                                                                    </label>
                                                                    <label class="radio-inline">
                                                                        <input type="radio" name="rating" id="rating4_{{reviews._id}}" value="4" required /> 4
                                                                    </label>
                                                                    <label class="radio-inline">
                                                                        <input type="radio" name="rating" id="rating5_{{reviews._id}}" value="5" required /> 5
                                                                    </label>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                        <!--Product Review-->
                                                        <div class="row">
                                                            <div class=" product-input col-12">
                                                                <label for="review_content_{{reviews._id}}">Review:
                                                                </label>
                                                                <textarea class="form-control" id="review_content_{{reviews._id}}" name="review_content" minlength="3" rows="2" required>{{reviews.review}}</textarea>
                                                            </div>
                                                        </div>
                                                        <!--Repurchase Checkbox-->
                                                        <div class="switch">
                                                            <i class="fas fa-thumbs-up"></i>
                                                            <label for="repurchase_{{reviews._id}}">Would you
                                                                repurchase?</label>
                                                            <input type="checkbox" id="repurchase_{{reviews._id}}" name="repurchase">
                                                            <span class="lever"></span>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <!-- submit button -->
                                                <div class="row">
                                                    <div class="profileReviewBtns col-12 ">
                                                        <a class="edit_review" href="
                                                                {{ url_for ('profile', username=session['user'])}}">
                                                            Cancel <i class="fas fa-times-circle right"></i></a>
                                                        <button type="submit" class="edit_review btn-large">
                                                            Edit Review <i class="fas fa-plus-square right"></i>
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>

        <!--Button to allow user to delete their account-->
        <div class="col-md-4 offset-md-4 text-center delete-acc-btn"><a id="deleteAccount" class="account_delete" data-href="{{url_for('delete_profile', username=session['user'])}}">Delete
                Account</a>  
        <!--Contact Us Modal-->
        <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div id="contactModal" class="modal-content">
                    <div id="contactHeader" class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" id="feedbackModalLabel">Contact Us</h5>
                    </div>
                    <div id="contactBody" class="modal-body">
                        <form action="{{url_for('user_feedback', user_id=user._id)}}" method="POST">
                            <div class="form-group">
                                <!--Field for users name-->
                                <label for="name" class="col-form-label">Name:</label>
                                <input type="text" class="form-control" id="name" placeholder="Name" name="name" minlength="3" maxlength="15">
                            </div>
                            <div class="form-group">
                                <!--Field for user's feedback comments-->
                                <label for="comment" class="col-form-label">Comment:</label>
                                <textarea class="form-control" id="comment" name="comment" placeholder="Comment" minlength="3" maxlength="200"></textarea>
                            </div>
                        </form>
                    </div>
                    <div id="contactFooter" class="modal-footer">
                        <!--Buttons to submit feedback form or cancel to close the modal-->
                        <button type="button" class="feedbackModal btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" value="submit" class="feedbackModal btn">Send message</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}