{% extends "base.html" %}
{% block content %}

<div class="profile-container container-fluid">


    <div id="profile" class="row">
        <div class=" card col-12">
            <h3 class="profile-header">
                {{username}}'s Profile</h3>

            <!--User Reviews-->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="review-title"></h3>
                    <p class="review"></p>
                    <button id="edit_category" type="submit" class="btn-large"><a href="
                        {{ url_for('reviews')}}">
                            Reviews <i class="fas fa-times-circle right"></i></a></button>
                    <button>Delete Review</button>
                </div>
            </div>
            <!--Favourite Products List-->
            <div class="row">
                <div id="favourites" class="col-md-12">
                    <ul class="list-group">
                        <li class="list-group-item"></li>
                        <button>Delete Product</button>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}