{% extends "base.html" %}
{% block content %}

<div class="register-container container-fluid">
    <h3 id="registerHeading">Create New Account</h3>
    <!--Form for New User to register for an account-->
    <div id="registerForm" class="row card">
        <form class="col-md-8 offset-md-2" method="POST" action="{{ url_for('register')}}">
            <div id="registerCard" class=" card-body">
                <!--Username-->
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="username">Username</label>
                        <i class="fas fa-user-plus"></i>
                        <input id="username" name="username" type="text" minlength="3" maxlength="15" pattern="^[a-zA-Z0-9]{3,15}$" class="form-control" aria-describedby="username" placeholder="Enter username" required>
                    </div>
                </div>
                <!--Email-->
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="email">Email</label>
                        <i class="fas fa-envelope"></i>
                        <input id="email" name="email" type="email" class="form-control" aria-describedby="email" placeholder="Email" required>
                    </div>
                </div>
                <!--Password-->
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="password">Password</label>
                        <i class="fas fa-user-lock"></i>
                        <input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" placeholder="Password" required>
                        <small id="passwordHelpBlock" class="form-text text-muted">
                        Your password must be 5-15 characters long.
                        </small>
                    </div>
                </div>
            </div>
            <!--Register-->
            <div class="row">
                <button id="registerBtn" type="submit" class="btn col-md-10 offset-md-1">Register <i class="fas fa-sign-in-alt"></i></button>
            </div>
        </form>
    </div>
    <!--Link to Login page if user has already set up an account-->
    <div class="row">
        <div class="col-12">
            <p id="loginLink">Already registered?
                <a href="{{ url_for('login') }}">Sign In</a>
            </p>
        </div>
    </div>
</div>
</div>
{% endblock %}