{% extends "base.html" %}
{% block content %}

<div id="reviewsContainer" class="container">
    <!--Button to direct user back to the product info page-->
    <div class="col-md-12 text-left"><a href="{{ url_for('product_info', product_id=product._id) }}" type="button"
        class="btn btn-lg review-btn" id="product_back"> < Go to Product</a>
    </div>
    <!--Displays the product name and brand of the product related to the reviews shown-->
    {% if session.user|lower != "admin"|lower %}
    <h2 id="reviewProductName" class="category-header">{{product.brand}}: {{product.product_name}}</h2>
    {% endif %}
    <h2 id="reviewHeader" class="category-header">Reviews</h2>
   <!--Displays review information-->
    {% for review in reviews %}
    <div id="reviews" class="card product-card mb-3 col-md-12">
        <div class="row">
            <div id="reviewCard" class="col-md-12">
                <div id="review-info" class="review-text card-body">
                    <h4 class="review-title card-title">{{ review.title }}</h4>
                    <!--Review Rating-->
                    <h5 class="rating card-title">Rating:
                    <!-- set variable "count" to the leftover value deducted from review rating -->
                    {% set count = (5 - review.rating)%}
                    <!-- for each star in the review rating, insert whole-star -->
                    {% for star in range(review.rating|int) %}
                    <i id="star" class="fas fa-star"></i>
                    {% endfor %}
                    <!-- for each remaining value in "count" variable, insert empty-star -->
                    {% for star in range(count) %}
                    <i id="star" class="far fa-star"></i>
                    {% endfor %} 
                    </h5>
                    <p class="card-text "><strong id="reviewText">Review:</strong></p>
                    <p class="card-text ">{{review.review}}</p>
                    {% if review.repurchase == "on" %}
                    <i class="fas fa-thumbs-up" data-toggle="tooltip" data-placement="left" title="Would buy again"></i>
                    {% else %}
                    <i class="fas fa-thumbs-down" data-toggle="tooltip" data-placement="left"
                        title="Wouldn't buy again"></i>
                    {% endif %}
                    <p class="card-text "><strong id="added_by">Added By: </strong>
                        {{ review.created_by|capitalize}}</p>
                    <span class="card-text "> <strong id="created_by">Added On:
                        </strong>{{ review.created_on}}</span>
                    <div class=" reviewBtns text-center">
                        <!--Button to edit the review in the db - only if the user created the review-->
                        {% if review.created_by == session['user']%}
                        <button type="button" id="edit_review" class="btn btn-lg review-btn" data-toggle="modal"
                            data-target="#Modal_{{review._id}}">
                            Edit Review
                        </button>
                        {% endif%} 
                         <!--Button to delete review from the db - only if the user created the review-->
                         {% if review.created_by == session['user'] or session['user'] == 'admin'%}
                         <a id="delete_review" data-href="{{url_for('delete_review', review_id=review._id)}}"
                             type="button" class="review_delete btn btn-lg review-btn">
                             Delete Review
                         </a>
                         {% endif %}  
                    </div>                   
                </div>
            </div>
        </div>
        <!--Editing a Review using a Modal Popup-->
        <div class="modal fade" id="Modal_{{review._id}}" tabindex="-1" role="dialog"
            aria-labelledby="reviewModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                            <h5 class="modal-title" id="reviewModal">Edit Review</h5>

                    </div>
                    <div class="modal-body">
                        <div class="row form-group">
                        <!--Edit review form-->
                            <form class=" review-form col-12" method="POST"
                                action="{{ url_for('edit_review', review_id=review._id) }}">
                                                
                            <!-- Review Tagline -->
                                <div class="row">
                                    <div class=" product-input input-field col-12">
                                        <label for="title">Title: </label>
                                        <input class="form-control" id="title" name="title"
                                                minlength="3" value="{{review.title}}" maxlength="25"
                                                type="text" class="validate" required>
                                    </div>
                                </div>
                            
                            <!--Product Rating-->
                                <div>
                                    <fieldset>
                                        <legend id="starRating"><i class="fas fa-star"></i> Star Rating</legend>
                                            <div id="radio" class="md-form mb-5">
                                                <label class="radio-inline"> <input type="radio"
                                                    name="rating" id="rating" value="1" required /> 1
                                                </label>
                                                <label class="radio-inline"> <input type="radio"
                                                    name="rating" id="rating" value="2" required /> 2
                                                </label>
                                                <label class="radio-inline"> <input type="radio"
                                                    name="rating" id="rating" value="3" required /> 3
                                                </label>
                                                <label class="radio-inline"> <input type="radio"
                                                        name="rating" id="rating" value="4" required /> 4
                                                </label>
                                                <label class="radio-inline"> <input type="radio"
                                                    name="rating" id="rating" value="5" required /> 5
                                                </label>
                                            </div>
                                                </fieldset>
                                        </div>
                                        <!--Product Review-->
                                            <div class="row">
                                                    <div class=" product-input col-12">
                                                        <label for="review_content">Review: </label>
                                                        <textarea class="form-control" id="review_content"
                                                            value="{{review.review}}" name="review_content"
                                                            minlength="3" type="text" rows="2" class="validate"
                                                            required>{{review.review}}</textarea>
                                                    </div>
                                                </div>
                                                <!--Repurchase Checkbox-->
                                                <div class="switch">
                                                    <i class="fas fa-thumbs-up"></i>
                                                    <label for="repurchase">Would you repurchase?</label>
                                                    <input type="checkbox" id="repurchase" name="repurchase">
                                                    <span class="lever"></span>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <!-- submit button -->
                                        <div class="row">
                                            <div id="reviewModalBtns" class="col-12 ">
                                                <button id="edit_review" type="submit" class="btn-large"><a href="
                                                    {{url_for('reviews', product_id=product._id)}}">
                                                        Cancel <i class="fas fa-times-circle right"></i></a></button>
                                                <button id="add_review" type="submit" class="btn-large">
                                                    Edit Review <i class="fas fa-plus-square right"></i>
                                                </button>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
    </div>        
{% endfor %}
</div>
{% endblock %}